<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/spectre.css" />
        <link rel="stylesheet" href="css/main.css" />
        <link rel="stylesheet" href="css/{{style}}" />
        <title> {{title}} </title>
    </head>
    <body>
        <header>
            <div class="navigationLinks">
                <a href="/opportunities" class="navigationLink01"> OPPORTUNITIES </a>
                <a href="/experiences" class="navigationLink02"> EXPERIENCES </a>
                <a href="/news" class="navigationLink03"> NEWS </a>
                <a href="/mission" class="navigationLink04"> MISSION </a>
                <a href="/contact" class="navigationLink05"> CONTACT </a>
            </div>
            <a href="/" class="navigationName"> GRAND YEAR </a>
        </header>
        {{{body}}}
        <footer>Grand Year — Coded and Designed with ❤️ by Wiktoria Drezner</footer>
    </body>
</html>