<div class="gridContainer">
    <!-- Section 1: Header -->
    <div class="gridSectionB gridSection01">
        <h1 class="alignCenter colorPrimary">Admin</h1>
    </div>
    <!-- Section 2: Login -->
    <div class="gridSectionB gridSection02">
        <form action="/admin" method="post" class="formGroup">
            <div class="formPackage">
                <label class="form-label">Username</label>
                <input class="form-input" type="text" name="username" placeholder="Username" />
            </div>
            <div class="formPackage">
                <label class="form-label">Password</label>
                <input class="form-input" type="password" name="password" placeholder="Password" />
            </div>
            <button class="btn btnSubmit" type="submit">Log In</button>
        </form>
    </div>
</div>