<div class="gridContainer">
    <!-- SECTION 1: HEADER -->
    <div class="gridSection01">
        <h1>Admin</h1>
    </div>
    <!-- SECTION 2: LOGIN -->
    <div class="gridSection02">
        <form action="/admin" method="post" class="formGroup">
            <div class="formPackage">
                <label class="form-label">Username</label>
                <input class="form-input" type="text" name="username" placeholder="Username" />
            </div>
            <div class="formPackage">
                <label class="form-label">Password</label>
                <input class="form-input" type="password" name="password" placeholder="Password" />
            </div>
            <button class="btn btnSubmit" type="submit">Log In</button>
        </form>
    </div>
</div>