<div class="gridContainer">
    <!-- Section 1: Background -->
    <div class="gridSectionB gridSection01 backgroundImage">
        <h1 class="headerMain">Contact Us</h1>
        <h2 class="subheaderMain">You Ask, We Answer and Help</h2>
    </div>
    <!-- Section 2: Leave a Question (Header) -->
    <div class="gridSectionB gridSection02">
        <h1 class="alignCenter colorPrimary">Ask a Question</h1>
    </div>
    <!-- Section 3: Leave a Question (Text) -->
    <div class="gridSectionB gridSection03">
        <p class="textMain colorWhite">
            There are no right or wrong questions. All the questions have their origin and are valid.
            <a href="/faq" class="contactLink"> FAQ (Frequently Asked Questions) </a>
            is a spot where we resolve all inquiries, and no questions are left unanswered. If You wish to learn more about Grand Year's mission, opportunities
            or anything else, leave us a message through the form. We will be happy to assist You!
        </p>
    </div>
    <!-- Section 4: Leave a Question (Form) -->
    <div class="gridSectionB gridSection04">
        <form action="/contact" method="post" class="formGroup">
            <div class="formPackage">
                <label class="form-label">Email</label>
                <input class="form-input" type="email" name="email" placeholder="Email" />
                <p class="textMini colorWhite">Your Email will not be disclosed. We will use it to contact You if needed.</p>
            </div>
            <div class="formPackage">
                <label class="form-label">Message</label>
                <textarea class="form-input" name="message" placeholder="Message" rows="8"></textarea>
            </div>
            <button id="faqSubmit" class="btn btnSubmit" type="submit">Submit</button>
        </form>
    </div>
</div>