<div class="gridContainer">
    <!-- SECTION 0: INTERNAL ERROR -->
    {{#if errorMessagesInternal.length}}
        <div class="gridSection00">
            <p class="errorMessageHeader">! ERROR !</p>
            <p class="errorMessage">
                {{#each errorMessagesInternal}}{{this}}{{/each}}
            </p>
        </div>
    {{/if}}
    <!-- SECTION 1: BACKGROUND -->
    <div class="gridSection01 backgroundImage">
        <h1>Grand Year</h1>
        <h2>Your Future Journey Begins Now</h2>
    </div>
    <!-- SECTION 2: HEADER -->
    <div class="gridSection02">
        <h1>Our Values</h1>
    </div>
    <!-- SECTION 3: VALUE — EDUCATE -->
    <div class="gridSection03">
        <img src="images/index/index-educate.svg" alt="Icon of the Book" />
        <h2>Educate</h2>
        <p>
            Our mission is to spread knowledge about unique opportunities for gaining work and life experience and learning new skills. We want to ensure that
            all the European Youth know the possibilities they have that facilitate their growth and education.
        </p>
    </div>
    <!-- SECTION 4: VALUE — INSPIRE -->
    <div class="gridSection04">
        <img src="images/index/index-inspire.svg" alt="Icon of the Light Bulb" />
        <h2>Inspire</h2>
        <p>
            We want to inspire You to make a meaningful step for Your growth and perhaps — Your career. We want You to step out of Your comfort zone and reflect
            on Your life priorities. What pushes You to go further and try harder?
        </p>
    </div>
    <!-- SECTION 5: VALUE — CONNECT -->
    <div class="gridSection05">
        <img src="images/index/index-connect.svg" alt="Icon of the Network" />
        <h2>Connect</h2>
        <p>
            We offer You a chance to connect with like-minded individuals and learn about their stories. Join the network of Inspiring Humans who are there to
            get inspired and inspire others. Make friendships and connections that will last for life.
        </p>
    </div>
    <!-- SECTION 6: ABOUT THE FOUNDER — TEXT -->
    <div class="gridSection06">
        <h2>About the Founder</h2>
        <p>
            Wiktoria Drezner is a 21-year-old Polish woman living in Jönköping, Sweden and the Grand Year's Founder and Ambassador. She is a package — a Graphic
            Designer, Website Developer, Social Media Manager, Communicator, Copywriter, and many more. A linguist, speaking Polish, English, Swedish, German
            and Norwegian. She is currently learning Turkish and Dutch, as languages are her biggest passion. She has travelled the world and often lives
            without unpacking her suitcase. Motivated and ambitious, always striving for more.
        </p>
    </div>
    <!-- SECTION 7: ABOUT THE FOUNDER — IMAGE -->
    <div class="gridSection07">
        <img src="images/index/index-founder.png" alt="Picture of the Founder" />
    </div>
</div>