<div class="gridContainer">
    <!-- SECTION 0: INTERNAL ERROR -->
    {{#if errorMessagesInternal}}
        <div class="gridSection00">
            <p class="errorMessageHeader">! ERROR !</p>
            <p class="errorMessage">INTERNAL SERVER ERROR.
                <span>
                    {{#each errorMessagesInternal}}
                        {{this}}
                    {{/each}}
                </span>
            </p>
        </div>
    {{/if}}
    <!-- SECTION 1: BACKGROUND -->
    <div class="gridSection01 backgroundImage">
        <h1>Our Mission</h1>
        <h2>We are Inspired to Inspire</h2>
    </div>
    <!-- SECTION 2: HEADER -->
    <div class="gridSection02">
        <h1>The Beginning...</h1>
    </div>
    <!-- SECTION 3: TEXT NR 1 -->
    <div class="gridSection03">
        <p>
            In August 2022, I attended a Youth Week — 10-day Erasmus+ exchange in Budapest, Hungary. The event's purpose was to connect European Youth from
            Eastern Europe (Poland, Czech Republic, Slovakia, Serbia) who describe themselves as motivated and ambitious individuals. We participated in
            multiple workshops and activities ranging from human rights, job market, design thinking, and entrepreneurship to sustainability, ecology, climate
            change and many more. The purpose was to learn and reflect on your perspectives.
        </p>
    </div>
    <!-- SECTION 4: PICTURE NR 1 -->
    <div class="gridSection04">
        <img src="images/mission/mission-story-03.jpg" alt="All Participants of Youth Week 2022" />
    </div>
    <!-- SECTION 5: PICTURE NR 2 -->
    <div class="gridSection05">
        <img src="images/mission/mission-story-02.JPG" alt="A Morning Workshop During Youth Week 2022" />
    </div>
    <!-- SECTION 6: TEXT NR 2 -->
    <div class="gridSection06">
        <p>
            Grand Year is a very personal project as it strongly connects to my past experiences. I asked myself, "Should I have done this earlier?" — and the
            answer was no. I believe that everything that has happened in my life so far has had its reason for happening. This initiative would not exist if it
            weren't for particular things I experienced, places I travelled to and people I met. I am forever grateful for all the beautiful memories I have
            been able to collect throughout the years. Now, it is my time to give back.
        </p>
    </div>
    <!-- SECTION 7: TEXT NR 3 -->
    <div class="gridSection07">
        <p>
            After a couple of intensive days, full of activities and learning, I am ready to kick start my Social Project. Its mission is to empower you and
            give you a chance to have a year full of unique experiences and possibilities. I want you to think about what are your priorities. Would you like to
            learn a new skill or pick up on a language you always wanted to study? Maybe your current goal is to travel, work or move abroad. Have you thought
            about coding? I don't want You to call "Gap Year" a "Gap" anymore. Your Year will be a Grand Year.
        </p>
    </div>
    <!-- SECTION 8: TEXT NR 3 -->
    <div class="gridSection08">
        <img src="images/mission/mission-story-01.JPG" alt="The Founder Pitching Their Social Project" />
    </div>
    <!-- SECTION 9: SDG — IMAGE 1 -->
    <div class="gridSection09">
        <img src="images/mission/mission-sdg-01.png" alt="Logo of Sustainable Development Goals" />
    </div>
    <!-- SECTION 10: SDG — TEXT 1 -->
    <div class="gridSection10">
        <p>
            The Sustainable Development Goals (SDGs), also known as the Global Goals, were adopted by the United Nations in 2015 as a universal call to action
            to end poverty, protect the planet, and ensure that by 2030 all people enjoy peace and prosperity. The 17 Goals are integrated — they recognize that
            action in one area will affect outcomes in others and that development must balance social, economic and environmental sustainability (UNDP 2022).
        </p>
    </div>
    <!-- SECTION 11: SDG — TEXT 2 -->
    <div class="gridSection11">
        <p>
            Grand Year stands with the Global Goal nr 4: Quality Education. We educate youth (ages 16–25) about various programmes, exchanges, opportunities and
            courses to facilitate their growth and learning experience. We believe in informal education, which emphasizes interests, hobbies and skills as
            grounds for effective learning. We inspire young adults to step out of their comfort zones. Our mission is to shift the stereotypes about "Gap"
            Year.
        </p>
    </div>
    <!-- SECTION 12: SDG — IMAGE 2 -->
    <div class="gridSection12">
        <img src="images/mission/mission-sdg-02.png" alt="Logo of Sustainable Development Goals" />
    </div>
</div>