<div class="gridContainer">
    <!-- Section 1: Background -->
    <div class="gridSectionB gridSection01 backgroundImage">
        <h1 class="headerMain">Our Mission</h1>
        <h2 class="subheaderMain">We are Inspired to Inspire</h2>
    </div>
    <!-- Section 2: Header -->
    <div class="gridSectionB gridSection02">
        <h1 class="colorWhite">The Beginning...</h1>
    </div>
    <!-- Section 3: Text nr 1 -->
    <div class="gridSectionB gridSection03">
        <p class="textMain colorWhite">
            In August 2022, I attended a Youth Week — 10-day Erasmus+ exchange in Budapest, Hungary. The event's purpose was to connect European Youth from
            Eastern Europe (Poland, Czech Republic, Slovakia, Serbia) who describe themselves as motivated and ambitious individuals. We participated in
            multiple workshops and activities ranging from human rights, job market, design thinking, and entrepreneurship to sustainability, ecology, climate
            change and many more. The purpose was to learn and reflect on your perspectives.
        </p>
    </div>
    <!-- Section 4: Picture nr 1 -->
    <div class="gridSectionB gridSection04">
        <img class="missionImageBody" src="images/mission/mission-story-03.JPG" alt="All Participants of Youth Week 2022" />
    </div>
    <!-- Section 5: Picture nr 2 -->
    <div class="gridSectionB gridSection05">
        <img class="missionImageBody" src="images/mission/mission-story-02.JPG" alt="A Morning Workshop During Youth Week 2022" />
    </div>
    <!-- Section 6: Text nr 2 -->
    <div class="gridSectionB gridSection06">
        <p class="textMain colorWhite">
            Grand Year is a very personal project as it strongly connects to my past experiences. I asked myself, "Should I have done this earlier?" — and the
            answer was no. I believe that everything that has happened in my life so far has had its reason for happening. This initiative would not exist if it
            weren't for particular things I experienced, places I travelled to and people I met. I am forever grateful for all the beautiful memories I have
            been able to collect throughout the years. Now, it is my time to give back.
        </p>
    </div>
    <!-- Section 7: Text nr 3 -->
    <div class="gridSectionB gridSection07">
        <p class="textMain colorWhite">
            After a couple of intensive days, full of activities and learning, I am ready to kick start my Social Project. Its mission is to empower you and
            give you a chance to have a year full of unique experiences and possibilities. I want you to think about what are your priorities. Would you like to
            learn a new skill or pick up on a language you always wanted to study? Maybe your current goal is to travel, work or move abroad. Have you thought
            about coding? I don't want You to call "Gap Year" a "Gap" anymore. Your Year will be a Grand Year.
        </p>
    </div>
    <!-- Section 8: Picture nr 3 -->
    <div class="gridSectionB gridSection08">
        <img class="missionImageBody" src="images/mission/mission-story-01.JPG" alt="The Founder Pitching Their Social Project" />
    </div>
    <!-- Section 9: SDG Image nr 1 -->
    <div class="gridSectionW gridSection09">
        <img class="missionImage01" src="images/mission/mission-sdg-01.png" alt="Logo of Sustainable Development Goals" />
    </div>
    <!-- Section 10: SDG Text nr 1 -->
    <div class="gridSectionW gridSection10">
        <p class="colorWhite">
            The Sustainable Development Goals (SDGs), also known as the Global Goals, were adopted by the United Nations in 2015 as a universal call to action
            to end poverty, protect the planet, and ensure that by 2030 all people enjoy peace and prosperity. The 17 Goals are integrated — they recognize that
            action in one area will affect outcomes in others and that development must balance social, economic and environmental sustainability (UNDP 2022).
        </p>
    </div>
    <!-- Section 11: SDG Text nr 2 -->
    <div class="gridSectionW gridSection11">
        <p class="colorWhite">
            Grand Year stands with the Global Goal nr 4: Quality Education. We educate youth (ages 16–25) about various programmes, exchanges, opportunities and
            courses to facilitate their growth and learning experience. We believe in informal education, which emphasizes interests, hobbies and skills as
            grounds for effective learning. We inspire young adults to step out of their comfort zones. Our mission is to shift the stereotypes about "Gap"
            Year.
        </p>
    </div>
    <!-- Section 12: SDG Image nr 2-->
    <div class="gridSectionW gridSection12">
        <img class="missionImage02" src="images/mission/mission-sdg-02.png" alt="Logo of Sustainable Development Goals" />
    </div>
</div>