<div class="gridContainer">
    <!-- Section 1: Background -->
    <div class="gridSectionB gridSection01 backgroundImage">
        <h1 class="headerMain">Grand News</h1>
        <h2 class="subheaderMain">Read and Stay on Your Toes</h2>
    </div>
    <!-- Section 2: News -->
    <div class="gridSectionB gridSection02">
        <h1 class="gridMiniHeadline alignCenter colorPrimary">Our Actions</h1>
        <!-- Publish Form -->
        <form class="formGroup">
            <div class="formPackage">
                <label class="form-label" for="newsDate">Date</label>
                <input id="newsDate" class="form-input" type="date" />
            </div>
            <div class="formPackage">
                <label class="form-label" for="newsTitle">Title</label>
                <input id="newsTitle" class="form-input" type="text" placeholder="Title" />
            </div>
            <div class="formPackage">
                <label class="form-label" for="newsImage">Image</label>
                <input id="newsImage" class="form-input" type="file" />
            </div>
            <div class="formPackage">
                <label class="form-label" for="newsPost">Post</label>
                <textarea id="newsPost" class="form-input" placeholder="Post Content" rows="8"></textarea>
            </div>
            <button id="faqSubmit" class="btn btnSubmit">Publish</button>
        </form>
        <!-- List of News -->
        <div id="listOfNews">

        </div>
    </div>
    <!-- Section 3: Description -->
    <div class="gridSectionB gridSection03">
        <p class="textMain colorWhite">
            We want to keep You updated about our actions and events — both online and offline. In the Grand News section, You have a chance to read about all
            the things that are happening around You. Check this page often to see if You have missed something, and stay up-to-date with us.
        </p>
    </div>
</div>