<div class="gridContainer">
    <!-- Section 1: Background -->
    <div class="gridSectionB gridSection01 backgroundImage">
        <h1 class="headerMain">Grand News</h1>
        <h2 class="subheaderMain">Read and Stay on Your Toes</h2>
    </div>
    <!-- Section 2: Share Form -->
    <div class="gridSectionB gridSection04">
        <!-- Publish Form -->
        <form action="/news" method="post" class="formGroup">
            <div class="formPackage">
                <label class="form-label">Date</label>
                <input class="form-input" type="date" name="date" />
            </div>
            <div class="formPackage">
                <label class="form-label">Title</label>
                <input class="form-input" type="text" name="title" placeholder="Title" />
            </div>
            <div class="formPackage">
                <label class="form-label">Image</label>
                <input class="form-input" type="file" name="image" />
            </div>
            <div class="formPackage">
                <label class="form-label">Post</label>
                <textarea class="form-input" name="post" placeholder="Post Content" rows="8"></textarea>
            </div>
            <button class="btn btnSubmit" type="submit">Publish</button>
        </form>
    </div>
</div>