<div class="gridContainer">
    <!-- Section 1: Background -->
    <div class="gridSectionB gridSection01 backgroundImage">
        <h1 class="headerMain">Opportunities</h1>
        <h2 class="subheaderMain">Make Your Year Great, not a Gap</h2>
    </div>
    <!-- Section 2: What? and How? -->
    <div class="gridSectionB gridSection02">
        <div class="gridSectionPackage">
            <h2 class="colorPrimary">What?</h2>
            <p class="textMain colorWhite">
                Our core mission is to facilitate Your growth and learning experience. This page provides You with various resources grouped into thematic
                categories to make Your reading experience more pleasant and effective. Treat this Resource Hub as You please and feel comfortable reading about
                opportunities that feel close to You.
            </p>
        </div>
        <div class="gridSectionPackage">
            <h2 class="colorPrimary">How?</h2>
            <p class="textMain colorWhite">
                This section of the website is a dynamic one, meaning that the content on it will change. We will be continuously improving this page by adding
                more resources. Read about various opportunities by clicking on their title or image that will take You to informative pages designed for a
                particular project.
            </p>
        </div>
    </div>
    <!-- Section 3: Opportunities -->
    <div class="gridSectionB gridSection03">
        <!-- Work & Travel -->
        <h1 class="gridMiniHeadline alignCenter colorPrimary">Work & Travel</h1>
        <div class="gridOpportunity">
            <!-- DiscoverEU -->
            <img class="opportunityImage" src="images/opportunities/discover-eu-01.png" alt="Backpacking Woman" />
            <a href="https://youth.europa.eu/discovereu_en" class="opportunityName" target="_blank">
                DiscoverEU
            </a>
            <p class="colorWhite">
                Would you like to spend a month travelling around Europe on the train? DiscoverEU is a programme funded by Erasmus+ for 18-year-old residents of
                the EU Member States whose desire is to see the world.
            </p>
        </div>
        <div class="gridOpportunity">
            <!-- AuPair -->
            <img class="opportunityImage" src="images/opportunities/aupair-01.png" alt="Woman with Children" />
            <a href="https://www.aupairworld.com/en" class="opportunityName" target="_blank">
                AuPair
            </a>
            <p class="colorWhite">
                Do you love kids, and do kids love you? Being an AuPair allows you to get to know other cultures, see the world and work in childcare while
                living abroad with a host family.
            </p>
        </div>
        <div class="gridOpportunity">
            <!-- Workaway -->
            <img class="opportunityImage" src="images/opportunities/workaway-01.png" alt="Group of People" />
            <a href="https://www.workaway.info" class="opportunityName" target="_blank">
                Workaway
            </a>
            <p class="colorWhite">
                Travelling, working and living in someone's place — Workaway is all about that. The programme allows you to go abroad and help families or
                individuals with their own (home) projects, and, in exchange, they will cover your needs.
            </p>
        </div>
        <!-- Volunteer & Intern -->
        <h1 class="gridMiniHeadline alignCenter colorPrimary">Volunteer & Intern</h1>
        <div class="gridOpportunity">
            <!-- The Hub -->
            <img class="opportunityImage" src="images/opportunities/the-hub-01.png" alt="Woman with a Camera" />
            <a href="https://thehub.io" class="opportunityName" target="_blank">
                The Hub
            </a>
            <p class="colorWhite">
                The Hub is a platform for all Creative Individuals who live up in the North and constantly look for opportunities. It is a place that helps you
                make your first steps in start-ups and small businesses and get involved in various creative projects — for all who would like to gain work
                experience.
            </p>
        </div>
        <div class="gridOpportunity">
            <!-- European Solidarity Corps (ESC) -->
            <img class="opportunityImage" src="images/opportunities/esc-01.png" alt="Three Volunteers" />
            <a href="https://youth.europa.eu/solidarity_en" class="opportunityName" target="_blank">
                European Solidarity Corps (ESC)
            </a>
            <p class="colorWhite">
                ESC is a funded programme for everyone who wishes to contribute and make impactful change. You will join a team of internationals abroad or in
                your home country and become part of a long-term or short-term volunteering project.
            </p>
        </div>
        <div class="gridOpportunity">
            <!-- EURES -->
            <img class="opportunityImage" src="images/opportunities/eures-01.png" alt="Woman in Suit with Blue Eyes" />
            <a href="https://ec.europa.eu/eures/portal/jv-se/home?pageCode=find_a_job" class="opportunityName" target="_blank">
                EURES
            </a>
            <p class="colorWhite">
                Would you like to find a job, paid traineeship and internships in Europe? Create an account on EURES and fill out your CV. You can browse
                thousands of unique job offers and apply for opportunities in various European countries.
            </p>
        </div>
        <!-- Study Abroad -->
        <h1 class="gridMiniHeadline alignCenter colorPrimary">Study Abroad</h1>
        <div class="gridOpportunity">
            <!-- EF Education First  -->
            <img class="opportunityImage" src="images/opportunities/education-first-01.png" alt="Woman Reading a Book" />
            <a href="https://www.ef.com/wwen/" class="opportunityName" target="_blank">
                EF Education First
            </a>
            <p class="colorWhite">
                How about learning a language in another country, getting to know the culture and fully immersing in another environment? EF is a programme for
                all those who are willing to study a foreign language abroad and have an educational journey in their life.
            </p>
        </div>
        <div class="gridOpportunity">
            <!-- ESL Languages  -->
            <img class="opportunityImage" src="images/opportunities/esl-languages-01.png" alt="Woman Reading in a Coffee Shop" />
            <a href="https://www.esl-languages.com/en" class="opportunityName" target="_blank">
                ESL Languages
            </a>
            <p class="colorWhite">
                ESL allows You to learn over 15 languages in various parts of the world, including Europe, North and South America and Asia. As a student, you
                receive the highest quality of education and interact with natives daily.
            </p>
        </div>
        <div class="gridOpportunity">
            <!-- Future Leaders Exchange (FLEX)  -->
            <img class="opportunityImage" src="images/opportunities/flex-01.png" alt="Woman Reading in a Coffee Shop" />
            <a href="https://www.discoverflex.org" class="opportunityName" target="_blank">
                Future Leaders Exchange (FLEX)
            </a>
            <p class="colorWhite">
                Spend a year abroad in one of the high schools in the United States of America and live with a host family. FLEX is a scholarship program that
                allows students from various parts of the world to get education while living abroad.
            </p>
        </div>
        <div class="gridOpportunity">
            <!-- Erasmus+ Programme  -->
            <img class="opportunityImage" src="images/opportunities/erasmus-programme-01.png" alt="Smiling Woman" />
            <a href="https://erasmus-plus.ec.europa.eu" class="opportunityName" target="_blank">
                Erasmus+ Programme
            </a>
            <p class="colorWhite">
                Study for a semester or two in another university or do your internship abroad. That is possible with Erasmus+, a programme that allows students
                to get international experience while pursuing their higher education.
            </p>
        </div>
        <!-- Learn New Skills -->
        <h1 class="gridMiniHeadline alignCenter colorPrimary">Learn New Skills</h1>
        <!-- Code & Design -->
        <h1 class="gridMiniHeadline alignCenter colorPrimary">Code & Design</h1>
    </div>
</div>