<div class="gridContainer">
    <!-- SECTION 0: INTERNAL ERROR -->
    {{#if errorMessagesInternal}}
        <div class="gridSection00">
            <p class="errorMessageHeader">! ERROR !</p>
            <p class="errorMessage">INTERNAL SERVER ERROR.
                <span>
                    {{#each errorMessagesInternal}}
                        {{this}}
                    {{/each}}
                </span>
            </p>
        </div>
    {{/if}}
    <!-- SECTION 1: BACKGROUND -->
    <div class="gridSection01 backgroundImage">
        <h1>Opportunities</h1>
        <h2>Make Your Year Great, not a Gap</h2>
    </div>
    <!-- SECTION 2: WHAT? AND HOW? -->
    <div class="gridSection02">
        <div>
            <h2>What?</h2>
            <p>
                Our core mission is to facilitate Your growth and learning experience. This page provides You with various resources grouped into thematic
                categories to make Your reading experience more pleasant and effective. Treat this Resource Hub as You please and feel comfortable reading about
                opportunities that feel close to You.
            </p>
        </div>
        <div>
            <h2>How?</h2>
            <p>
                This section of the website is a dynamic one, meaning that the content on it will change. We will be continuously improving this page by adding
                more resources. Read about various opportunities by clicking on their title.
            </p>
        </div>
    </div>
    <!-- SECTION 3: OPPORTUNITIES -->
    <div class="gridSection03">
        <!-- WORK & TRAVEL -->
        <h1>Work & Travel</h1>
        <div>
            <img src="images/opportunities/discover-eu.png" alt="Backpacking Woman" />
            <a href="https://youth.europa.eu/discovereu_en" target="_blank">DiscoverEU</a>
            <p>
                Would you like to spend a month travelling around Europe on the train? DiscoverEU is a programme funded by Erasmus+ for 18-year-old residents of
                the EU Member States whose desire is to see the world.
            </p>
        </div>
        <div>
            <img src="images/opportunities/aupair.png" alt="Woman with Children" />
            <a href="https://www.aupairworld.com/en" target="_blank">AuPair</a>
            <p>
                Do you love kids, and do kids love you? Being an AuPair allows You to get to know other cultures, see the world and work in childcare while
                living abroad with a host family.
            </p>
        </div>
        <div>
            <img src="images/opportunities/workaway.png" alt="Group of People" />
            <a href="https://www.workaway.info" target="_blank">Workaway</a>
            <p>
                Travelling, working and living in someone's place — Workaway is all about that. The programme allows you to go abroad and help families or
                individuals with their own (home) projects, and, in exchange, they will cover your needs.
            </p>
        </div>
        <!-- VOLUNTEER & INTERN -->
        <h1>Volunteer & Intern</h1>
        <div>
            <!-- The Hub -->
            <img src="images/opportunities/the-hub.png" alt="Woman with a Camera" />
            <a href="https://thehub.io" target="_blank">The Hub</a>
            <p>
                The Hub is a platform for all Creative Individuals who live up in the North and constantly look for opportunities. It is a place that helps you
                make your first steps in start-ups and small businesses and get involved in various creative projects — for all who would like to gain work
                experience.
            </p>
        </div>
        <div>
            <img src="images/opportunities/esc.png" alt="Three Volunteers" />
            <a href="https://youth.europa.eu/solidarity_en" target="_blank">European Solidarity Corps (ESC)</a>
            <p>
                ESC is a funded programme for everyone who wishes to contribute and make impactful change. You will join a team of internationals abroad or in
                your home country and become part of a long-term or short-term volunteering project.
            </p>
        </div>
        <div>
            <img src="images/opportunities/eures.png" alt="Woman in Suit with Blue Eyes" />
            <a href="https://ec.europa.eu/eures/portal/jv-se/home?pageCode=find_a_job" target="_blank">EURES</a>
            <p>
                Would you like to find a job, paid traineeship and internships in Europe? Create an account on EURES and fill out your CV. You can browse
                thousands of unique job offers and apply for opportunities in various European countries.
            </p>
        </div>
        <!-- STUDY ABROAD -->
        <h1>Study Abroad</h1>
        <div>
            <img src="images/opportunities/education-first.png" alt="Woman Reading a Book" />
            <a href="https://www.ef.com/wwen/" target="_blank">EF Education First</a>
            <p>
                How about learning a language in another country, getting to know the culture and fully immersing in another environment? EF is a programme for
                all those who are willing to study a foreign language abroad and have an educational journey in their life.
            </p>
        </div>
        <div>
            <img src="images/opportunities/esl-languages.png" alt="Woman Reading in a Coffee Shop" />
            <a href="https://www.esl-languages.com/en" target="_blank">ESL Languages</a>
            <p>
                ESL allows you to learn over 15 languages in various parts of the world, including Europe, North and South America and Asia. As a student, you
                receive the highest quality of education and interact with natives daily.
            </p>
        </div>
        <div>
            <img src="images/opportunities/flex.png" alt="Woman Reading in a Coffee Shop" />
            <a href="https://www.discoverflex.org" target="_blank">Future Leaders Exchange (FLEX)</a>
            <p>
                Spend a year abroad in one of the high schools in the United States of America and live with a host family. FLEX is a scholarship program that
                allows students from various parts of the world to get education while living abroad.
            </p>
        </div>
        <div>
            <img src="images/opportunities/erasmus-programme.png" alt="Smiling Woman" />
            <a href="https://erasmus-plus.ec.europa.eu" target="_blank">Erasmus+ Programme</a>
            <p>
                Study for a semester or two in another university or do your internship abroad. That is possible with Erasmus+, a programme that allows students
                to get international experience while pursuing their higher education.
            </p>
        </div>
        <!-- LEARN NEW SKILLS -->
        <h1>Learn New Skills</h1>
        <div>
            <img src="images/opportunities/european-bartender-school.png" alt="Man Mixing Drinks" />
            <a href="https://www.barschool.net" target="_blank">European Bartender School (EBS)</a>
            <p>
                Mojito, Aperol Spritz, Moscow Moule? These names will not feel foreign to you! EBS allows you to undertake a four-week training in many world
                locations and different languages and, on top of that, become a classified Bartender.
            </p>
        </div>
        <div>
            <img src="images/opportunities/sca-education.png" alt="Barista Making Coffee" />
            <a href="https://education.sca.coffee" target="_blank">SCA Education</a>
            <p>
                Would you like to learn everything about coffee? With SCA (Specialty Coffee Association), you can become a qualified Barista in just a couple of
                weeks. Your study is divided into modules, ranging from Skills, Brewing, Green Coffee to Roasting and Sensory Skills.
            </p>
        </div>
        <div>
            <img src="images/opportunities/cafa-wine-school.png" alt="Barista Making Coffee" />
            <a href="https://www.cafawine.com" target="_blank">CAFA Wine School</a>
            <p>
                Become a professional Sommelier Wine Consultant and learn all the things about wine. You will spend over 500h in theoretical training and an
                extra 280h in an internship. In over 21 weeks, you will get the best quality of knowledge and skills — and all of that, in Bordeaux.
            </p>
        </div>
        <!-- CODE & DESIGN -->
        <h1>Code & Design</h1>
        <div>
            <img src="images/opportunities/codecademy.png" alt="Redhead Woman Coding" />
            <a href="https://www.codecademy.com" target="_blank">Codecademy</a>
            <p>
                Have you ever wanted to learn how to code? With Codecademy, you can do that! They offer online courses about programming, data analysis,
                computer science, front-end engineering and many more. That's everything you need to become a Full Stack Developer.
            </p>
        </div>
        <div>
            <img src="images/opportunities/harvard-programming-courses.png" alt="Guy Programming" />
            <a href="https://pll.harvard.edu/subject/programming" target="_blank">Harvard Programming Courses</a>
            <p>
                Improve your programming skills and knowledge with Harvard Programming Courses. Courses are designed by professionals from Harvard University
                and are available online. They take about 6–12 weeks to complete at your own pace, also for beginners.
            </p>
        </div>
        <div>
            <img src="images/opportunities/interaction-design-foundation.png" alt="Boy Working on the Computer" />
            <a href="https://www.interaction-design.org" target="_blank">Interaction Design Foundation</a>
            <p>
                Learn about UX Design, Design Thinking, Usability and Research with Interaction Design Foundation. You can enrol in various courses, accredited
                by professionals, or join shorter classes on the topics that matter to you.
            </p>
        </div>
    </div>
</div>