<div class="gridContainer">
    <!-- Section 1: Background -->
    <div class="gridSectionB gridSection01 backgroundImage">
        <h1 class="headerMain">Opportunities</h1>
        <h2 class="subheaderMain">Make Your Year Great, not a Gap</h2>
    </div>
    <!-- Section 2: What? and How? -->
    <div class="gridSectionB gridSection02">
        <div class="gridSectionPackage">
            <h2 class="colorPrimary">What?</h2>
            <p class="textMain colorWhite">
                Our core mission is to facilitate Your growth and learning experience. This page provides You with various resources grouped into thematic
                categories to make Your reading experience more pleasant and effective. Treat this Resource Hub as You please and feel comfortable reading about
                opportunities that feel close to You.
            </p>
        </div>
        <div class="gridSectionPackage">
            <h2 class="colorPrimary">How?</h2>
            <p class="textMain colorWhite">
                This section of the website is a dynamic one, meaning that the content on it will change. We will be continuously improving this page by adding
                more resources. Read about various opportunities by clicking on their title or image that will take You to informative pages designed for a
                particular project.
            </p>
        </div>
    </div>
    <!-- Section 3: Opportunities -->
    <div class="gridSectionB gridSection03">
        <!-- Work & Travel -->
        <h1 class="gridMiniHeadline alignCenter colorPrimary">Work & Travel</h1>
        <div class="gridOpportunity">
            <!-- Work & Travel: DiscoverEU -->
            <img class="opportunityImage" src="images/opportunities/discover-eu-01.png" alt="Image of a Train" />
            <h2 class="opportunityName alignCenter colorWhite">DiscoverEU</h2>
            <p class="alignCenter colorWhite">
                Would you like to spend a month travelling around Europe on the train? DiscoverEU is a programme funded by Erasmus+ for 18-year-old residents of
                the EU Member States whose desire is to see the world.
            </p>
        </div>
        <div class="gridOpportunity">
            <!-- Work & Travel: AuPair -->
            <img class="opportunityImage" src="images/opportunities/aupair-01.png" alt="Image of a Train" />
            <h2 class="opportunityName alignCenter colorWhite">AuPair</h2>
            <p class="alignCenter colorWhite">
                Do you love kids, and do kids love you? Being an AuPair allows you to get to know other cultures, see the world and work in childcare while
                living abroad with a host family.
            </p>
        </div>
        <div class="gridOpportunity">
            <!-- Work & Travel: Workaway -->
            <img class="opportunityImage" src="images/opportunities/workaway-01.png" alt="Image of a Train" />
            <h2 class="opportunityName alignCenter colorWhite">Workaway</h2>
            <p class="alignCenter colorWhite">
                Travelling, working and living in someone's place — Workaway is all about that. The programme allows you to go abroad and help families or
                individuals with their own (home) projects, and, in exchange, they will cover your needs.
            </p>
        </div>
        <!-- Volunteer & Intern -->
        <h1 class="gridMiniHeadline alignCenter colorPrimary">Volunteer & Intern</h1>
        <div class="gridOpportunity">
            <!-- Work & Travel: European Solidarity Corps (ESC) -->
            <img class="opportunityImage" src="images/opportunities/esc-01.png" alt="Image of a Train" />
            <h2 class="opportunityName alignCenter colorWhite">European Solidarity Corps (ESC)</h2>
            <p class="alignCenter colorWhite">
                ESC is a funded programme for everyone who wishes to contribute and make impactful change. You will join a team of internationals abroad or in
                your home country and become part of a long-term or short-term volunteering project.
            </p>
        </div>
    </div>
</div>