body {
    background-color: var(--color-01);
}
footer {
    color: var(--color-03);
    position: absolute;
}

/* Page Grid Sections */
.gridSection01 {
    height: auto;
}
.gridSection02 {
    grid-column-start: 5;
    grid-column-end: 9;
}

/* Tablet */
@media (max-width: 1400px) {
    .gridSection02 {
        grid-column-start: 4;
        grid-column-end: 10;
    }
}

/* Mobile */
@media (max-width: 500px) {
    .gridSection02 {
        grid-column-start: 2;
        grid-column-end: 12;
    }
}
