body {
    background-color: var(--color-01);
}
footer {
    color: var(--color-03);
    position: absolute;
}

/* Page Grid Sections */
.gridSection01 {
    height: auto;
}
.gridSection02 {
    grid-column-start: 5;
    grid-column-end: 9;
}
