.navigationLink05 {
    color: var(--color-05);
}

/* Link Style */
.contactLink {
    color: var(--color-05);
    text-decoration: none;
}
.contactLink:hover {
    font-weight: bold;
}

/* Page Background */
body {
    background-color: var(--color-01);
}
footer {
    color: var(--color-03);
}

/* Page Grid Sections */
.gridSection02 {
    grid-column-start: 1;
    grid-column-end: 13;
}
.gridSection03 {
    grid-column-start: 1;
    grid-column-end: 7;
    padding: 1vw 3vw 3vw 7vw;
}
.gridSection04 {
    grid-column-start: 7;
    grid-column-end: 13;
    padding: 1vw 7vw 3vw 3vw;
}

/* Background, Images, Icons */
.backgroundImage {
    background-position: bottom;
    background-image: url(/images/contact/contact-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Mobile */
@media (max-width: 500px) {
    .gridSection03 {
        grid-column-end: 13;
        padding: 1vw 7vw 3vw 7vw;
    }
    .gridSection04 {
        grid-column-start: 1;
        padding: 1vw 7vw 5vw 7vw;
    }
}
