.navigationLink05 {
    color: var(--color-05);
}

/* Page Grid Sections */
.gridSection02 {
    grid-column-start: 1;
    grid-column-end: 13;
}
.gridSection03 {
    grid-column-start: 1;
    grid-column-end: 7;
    padding: 1vw 3vw 3vw 7vw;
}
.gridSection04 {
    grid-column-start: 7;
    grid-column-end: 13;
    padding: 1vw 7vw 3vw 3vw;
}
.gridSection05 {
    grid-column-start: 1;
    grid-column-end: 13;
    padding-bottom: 2vw;
}
.gridSection06 {
    grid-column-start: 1;
    grid-column-end: 13;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5vw;
    row-gap: 3vw;
    padding: 1vw 7vw 3vw 7vw;
}

/* Button Style */
.btnEdit:hover,
.btnDelete:hover {
    border-color: var(--color-01);
}
.btnEdit:active,
.btnDelete:active {
    color: var(--color-03);
    background: var(--color-01);
    border-color: var(--color-03);
}

/* Text Style */
.headerFAQ {
    line-height: 1;
    text-align: center;
}
.subheaderFAQ {
    font-size: 2vw;
    text-align: center;
}

/* Questions And Answers */
.packageQ1 {
    font-size: 3vw;
}
.packageQ2 {
    font-size: 1.5vw;
    padding-bottom: 0.2vw;
}

/* Background, Images, Icons */
.backgroundImage {
    background-position: bottom;
    background-image: url(/images/contact/contact-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Tablet */
@media (max-width: 1400px) {
    .headerFAQ {
        font-size: 8vw;
    }
    .subheaderFAQ {
        font-size: 3vw;
    }
    .packageQ1 {
        font-size: 3.5vw;
    }
    .packageQ2 {
        font-size: 2.2vw;
    }
}

/* Mobile */
@media (max-width: 500px) {
    .gridSection03 {
        grid-column-end: 13;
        padding: 1vw 7vw 3vw 7vw;
    }
    .gridSection04 {
        grid-column-start: 1;
        padding: 1vw 7vw 5vw 7vw;
    }
    .headerFAQ {
        font-size: 15vw;
    }
    .subheaderFAQ {
        font-size: 5vw;
    }
    .gridSection05 {
        padding: 7vw 5vw 3vw 5vw;
    }
    .gridSection06 {
        display: block;
        padding: 1vw 7vw 3vw 7vw;
    }
    .questionPackage {
        padding-bottom: 5vw;
    }
    .packageQ1 {
        font-size: 9vw;
    }
    .packageQ2 {
        font-size: 4.5vw;
    }
    .packageA1 {
        font-size: 4vw;
    }
}
