.navigationLink02 {
    color: var(--color-05);
}

body {
    background-color: var(--color-03);
}
footer {
    background-color: var(--color-01);
    color: var(--color-03);
    margin: 0;
}

/* Page Grid Sections */
.gridSection02 {
    grid-column-start: 1;
    grid-column-end: 13;
    padding: 0;
}
.gridSection03 {
    grid-column-start: 1;
    grid-column-end: 13;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5vw;
    row-gap: 3vw;
    padding: 0 7vw 3vw 7vw;
}
.gridSection04 {
    grid-column-start: 1;
    grid-column-end: 13;
    padding: 3vw 3vw 0 3vw;
}
.gridSection05 {
    grid-column-start: 1;
    grid-column-end: 13;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5vw;
    row-gap: 3vw;
    padding: 0 7vw 3vw 7vw;
}
.gridSection06 {
    grid-column-start: 1;
    grid-column-end: 7;
    padding: 3vw;
}
.gridSection07 {
    grid-column-start: 7;
    grid-column-end: 13;
    padding: 3vw;
}

/* Ambassador/Inspiring Human Package */
.ambassadorImage {
    display: block;
    margin: auto;
    width: 60%;
}
.ambassadorHeader,
.experienceHuman {
    padding-top: 0.5vw;
    font-size: 2.5vw;
}
.experienceHuman {
    padding-top: 0;
}
.ambassadorText,
.experienceText {
    padding-bottom: 0.3vw;
}
.ambassadorLink,
.experienceLink {
    font-size: 1.2vw;
    text-align: center;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: var(--color-01);
}
.experienceLink {
    color: var(--color-05);
}
.ambassadorLink:hover {
    color: var(--color-05);
    transition: 0.8s;
}
.experienceLink:hover {
    color: var(--color-01);
    transition: 0.8s;
}

/* Background, Images, Icons */
.backgroundImage {
    background-position: bottom;
    background-image: url(/images/experiences/experiences-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Text Alignment, Colours */
.experiencesHeader {
    font-size: 5vw;
    padding-bottom: 2.5vw;
}
.informationText {
    padding: 0 0 2vw 4vw;
}

/* Tablet */
@media (max-width: 1400px) {
    .gridSection03,
    .gridSection05 {
        column-gap: 3vw;
    }
    .ambassadorImage {
        width: 80%;
    }
    .ambassadorHeader,
    .experienceHuman {
        padding-top: 1.5vw;
        font-size: 3.3vw;
    }
    .ambassadorLink,
    .experienceLink {
        font-size: 1.5vw;
    }
    .informationHeader {
        font-size: 3vw;
    }
}

/* Mobile */
@media (max-width: 500px) {
    .experiencesHeader {
        font-size: 8vw;
    }
    .gridSection03,
    .gridSection05 {
        display: block;
        padding: 0 7vw 0 7vw;
    }
    .ambassadorImage {
        width: 70%;
    }
    .ambassadorHeader,
    .experienceHuman {
        padding-top: 1.5vw;
        font-size: 7vw;
    }
    .ambassadorLink,
    .experienceLink {
        font-size: 3.5vw;
    }
    .ambassadorText,
    .experienceText {
        padding: 0 3vw 6vw 3vw;
    }
    .informationText {
        padding: 0;
    }
    .informationHeader {
        font-size: 6vw;
        padding: 7vw 0 0 0;
    }
    .gridSection06 {
        grid-column-end: 13;
        padding: 0 7vw 7vw 7vw;
    }
    .gridSection07 {
        grid-column-start: 1;
        padding: 0 7vw 7vw 7vw;
    }
}
