/* Page Background */
body {
    background-color: var(--color-01);
}
footer {
    color: var(--color-03);
}

/* Text Style */
.headerFAQ {
    line-height: 1;
    text-align: center;
}
.subheaderFAQ {
    font-size: 2vw;
    text-align: center;
}

/* Page Grid Sections */
.gridSection02 {
    grid-column-start: 1;
    grid-column-end: 13;
    padding-bottom: 3vw;
}
.gridSection03 {
    grid-column-start: 1;
    grid-column-end: 13;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5vw;
    row-gap: 3vw;
    padding: 1vw 7vw 3vw 7vw;
}

/* Questions And Answers */
.packageQ1 {
    font-size: 3vw;
}
.packageQ2 {
    font-size: 1.5vw;
    padding-bottom: 0.2vw;
}

/* Tablet */
@media (max-width: 1400px) {
    .headerFAQ {
        font-size: 8vw;
    }
    .subheaderFAQ {
        font-size: 3vw;
    }
    .packageQ1 {
        font-size: 3.5vw;
    }
    .packageQ2 {
        font-size: 2.2vw;
    }
}

/* Mobile */
@media (max-width: 500px) {
    .headerFAQ {
        font-size: 15vw;
    }
    .subheaderFAQ {
        font-size: 5vw;
    }
    .gridSection03 {
        display: block;
        padding: 1vw 7vw 3vw 7vw;
    }
    .questionPackage {
        padding-bottom: 5vw;
    }
    .packageQ1 {
        font-size: 9vw;
    }
    .packageQ2 {
        font-size: 4.5vw;
    }
    .packageA1 {
        font-size: 4vw;
    }
}
