.navigationLink04 {
    color: var(--color-05);
}

/* Page Grid Sections */
.gridSection02 {
    grid-column-start: 1;
    grid-column-end: 13;
    padding-left: 7vw;
}
.gridSection03 {
    grid-column-start: 1;
    grid-column-end: 5;
    padding-left: 7vw;
}
.gridSection04 {
    grid-column-start: 5;
    grid-column-end: 13;
    padding-right: 7vw;
}
.gridSection05 {
    grid-column-start: 1;
    grid-column-end: 9;
    padding-left: 7vw;
}
.gridSection06 {
    grid-column-start: 9;
    grid-column-end: 13;
    padding-right: 7vw;
}
.gridSection07 {
    grid-column-start: 1;
    grid-column-end: 5;
    padding-left: 7vw;
}
.gridSection08 {
    grid-column-start: 5;
    grid-column-end: 13;
    padding-right: 7vw;
    padding-bottom: 6vw;
}
.gridSection09 {
    grid-column-start: 1;
    grid-column-end: 13;
}
.gridSection10 {
    grid-column-start: 1;
    grid-column-end: 7;
    background-color: var(--color-04);
    padding-left: 15vw;
    padding-right: 2vw;
    padding-bottom: 3vw;
}
.gridSection11 {
    grid-column-start: 7;
    grid-column-end: 13;
    background-color: var(--color-04);
    padding-right: 15vw;
    padding-left: 2vw;
    padding-bottom: 3vw;
}
.gridSection12 {
    grid-column-start: 1;
    grid-column-end: 13;
    padding-top: 2vw;
}

/* Background, Images, Icons */
.backgroundImage {
    background-position: bottom;
    background-image: url(/images/mission/mission-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.missionImageBody {
    width: 100%;
    object-fit: contain;
}
.missionImage01 {
    width: 100%;
    object-fit: contain;
    padding: 0 5vw 0 5vw;
}
.missionImage02 {
    width: 100%;
    object-fit: contain;
    padding: 0 15vw 0 15vw;
}

/* Mobile */
@media (max-width: 500px) {
    .gridSection03 {
        grid-column-end: 13;
        padding: 5vw 7vw 0 7vw;
    }
    .gridSection04 {
        grid-column-start: 1;
        padding: 5vw 7vw 0 7vw;
    }
    .gridSection05 {
        grid-column-end: 13;
        padding: 5vw 7vw 0 7vw;
    }
    .gridSection06 {
        grid-column-start: 1;
        padding: 5vw 7vw 0 7vw;
    }
    .gridSection07 {
        grid-column-end: 13;
        padding: 5vw 7vw 0 7vw;
    }
    .gridSection08 {
        grid-column-start: 1;
        padding: 5vw 7vw 5vw 7vw;
    }
    .gridSection10 {
        grid-column-end: 13;
        padding-top: 5vw;
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .gridSection11 {
        grid-column-start: 1;
        padding-bottom: 5vw;
        padding-left: 10vw;
        padding-right: 10vw;
    }
}
