.navigationLink01 {
    color: var(--color-05);
}

body {
    background-color: var(--color-01);
}

footer {
    color: var(--color-03);
}

/* Page Grid Sections */
.gridSection02 {
    grid-column-start: 1;
    grid-column-end: 10;
    padding-left: 3vw;
}
.gridSection03 {
    grid-column-start: 10;
    grid-column-end: 13;
    padding: 3vw;
}
.gridOpportunity {
    padding-bottom: 3vw;
}

/* Background, Images, Icons */
.backgroundImage {
    background-position: bottom;
    background-image: url(/images/news/news-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.opportunityImage {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Text Alignment, Colours */
.gridMiniHeadline {
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 5vw;
    padding-bottom: 1vw;
}
.opportunityName {
    font-size: 1.8vw;
    padding-top: 1vw;
}

/* Tablet */
@media (max-width: 1200px) {
    .gridSection02 {
        grid-column-end: 13;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3vw;
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .gridSection03 {
        grid-column-start: 1;
    }
    .opportunityName {
        font-size: 2.5vw;
    }
}

/* Mobile */
@media (max-width: 500px) {
    .gridSection02 {
        grid-column-end: 13;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0 0 5vw 0;
    }
    .gridSectionPackage {
        padding: 5vw 7vw 0 7vw;
    }
    .gridSection03 {
        display: block;
        grid-column-start: 1;
        padding: 0 7vw 0 7vw;
    }
    .gridOpportunity {
        padding-bottom: 5vw;
    }
    .opportunityImage {
        width: 70%;
    }
    .gridMiniHeadline {
        font-size: 7.5vw;
        padding-bottom: 2vw;
        padding-top: 5vw;
    }
    .opportunityName {
        font-size: 6.5vw;
        padding-top: 2vw;
    }
}
