/* BODY */
body {
    background-color: var(--color-01);
}

/* SECTION 2: IMAGE */
.gridSection02Image {
    grid-column-start: 1;
    grid-column-end: 13;
    padding: 1vw 0 0 0;
}
.gridSection02Image img {
    object-fit: cover;
    width: 100%;
}

/* SECTION 2: NEWS ENTRY */
.gridSection02 {
    grid-column-start: 2;
    grid-column-end: 12;
    padding: 3vw 7vw 0 7vw;
}
.gridSection02 h2 {
    color: var(--color-05);
    text-align: center;
}
.gridSection02 h1 {
    font-size: 2.5vw;
    color: var(--color-03);
    text-align: center;
}
.gridSection02 p {
    padding-bottom: 1vw;
    color: var(--color-03);
}

/* SECTION 3: ENTRY NOT FOUND */
.gridSection03 {
    grid-column-start: 1;
    grid-column-end: 13;
    padding: 5vw 7vw 0 7vw;
}
.gridSection03 h2 {
    text-align: center;
    color: var(--color-05);
}

/* FOOTER */
footer {
    color: var(--color-03);
}

/* RESPONSIVE — TABLET */
@media (max-width: 1400px) {
    .gridSection02 {
        grid-column-start: 1;
        grid-column-end: 13;
        padding: 4vw 4vw 0 4vw;
    }
    .gridSection02Image {
        padding: 2vw 0 0 0;
    }
}

/* RESPONSIVE — MOBILE */
@media (max-width: 500px) {
    .gridSection02 {
        padding: 7vw 7vw 0 7vw;
    }
    .gridSection02 h1 {
        font-size: 5.5vw;
        padding: 1vw 0 1vw 0;
    }
    .gridSection02Image {
        padding: 3.5vw 0 3.5vw 0;
    }
}
