/* NAVIGATION PAGE LINK */
.navigationLink01 {
    color: var(--color-05);
}

/* SECTION 1: BACKGROUND */
body {
    background-color: var(--color-01);
}
.backgroundImage {
    background-position: bottom;
    background-image: url(/images/opportunities/opportunities-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* SECTION 2: WHAT? AND HOW? */
.gridSection02 {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: var(--color-01);
    padding: 3vw 0 0 4vw;
}
.gridSection02 h2 {
    color: var(--color-05);
    text-align: left;
}
.gridSection02 p {
    padding-bottom: 1.7vw;
    color: var(--color-03);
}

/* SECTION 3: OPPORTUNITIES */
.gridSection03 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4vw;
    grid-column-start: 4;
    grid-column-end: 13;
    background-color: var(--color-01);
    padding: 4vw;
}
.gridSection03 h1 {
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 5vw;
    padding-bottom: 1vw;
    text-align: center;
    color: var(--color-05);
}
.gridSection03 div {
    padding-bottom: 3vw;
    text-align: center;
}
.gridSection03 img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.5vw;
}
.gridSection03 a {
    font-family: "Poppins", sans-serif;
    color: var(--color-03);
    text-decoration: none;
    font-size: 1.8vw;
    line-height: 1.3;
}
.gridSection03 a:hover {
    color: var(--color-05);
    transition: 0.8s;
}
.gridSection03 div p {
    color: var(--color-03);
    padding-top: 0.2vw;
    text-align: center;
}

/* FOOTER*/
footer {
    color: var(--color-03);
}

/* RESPONSIVE — TABLET */
@media (max-width: 1400px) {
    .gridSection02 {
        grid-column-end: 13;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3.5vw;
        padding: 3vw 7vw 0 7vw;
    }
    .gridSection02 h2 {
        text-align: center;
    }
    .gridSection03 {
        grid-column-start: 1;
    }
    .gridSection03 a {
        font-size: 2.5vw;
    }
}

/* RESPONSIVE — MOBILE */
@media (max-width: 500px) {
    .gridSection02 {
        grid-column-end: 13;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0 0 5vw 0;
    }
    .gridSection02 div {
        padding: 5vw 7vw 0 7vw;
    }
    .gridSection03 {
        display: block;
        grid-column-start: 1;
        padding: 0 7vw 0 7vw;
    }
    .gridSection03 h1 {
        font-size: 7.5vw;
        padding-bottom: 2vw;
        padding-top: 5vw;
    }
    .gridSection03 img {
        width: 80%;
        padding-bottom: 2.5vw;
    }
    .gridSection03 a {
        font-size: 5.5vw;
    }
    .gridSection03 div p {
        padding-top: 1vw;
        padding-bottom: 5vw;
    }
}
